PORT=3000
CLIENT_URL=http://localhost:5173
NODE_ENV=development
DATABASE_URL=postgresql://postgres:your_password@localhost:5432/helpdesk
BETTER_AUTH_SECRET=your_secret_here
BETTER_AUTH_URL=http://localhost:3000
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password321
